ul.nav.nav-primary
  li(class=index=='0'?'active':'')
      a(href='/') 首页
    li(class=index=='1'?'active':'')
      a(href='/admin/movie') 后台录入
    li(class=index=='2'?'active':'')
      a(href='/admin/list') 后台列表
    li
      a.dropdown-toggle(data-toggle='dropdown',href='#') 更多
        span.caret
      ul.dropdown-menu
        if user
          li
            a(href='#') 欢迎您, #{user.name}
          li
            a(href='/logout') 退出登录  
        else
          li.loginli
            a(href='#') 登录
          li.singupli
            a(href='#') 注册
.boxlogin
  .boxinner
    form.denglu(method='POST',action='/user/login')
      .form-group
        label(for="exampleInputAccount1") 账号
        input.form-control#exampleInputAccount1(type="text",name='user[name]',placeholder='用户名')
      .form-group
        label(for="exampleInputPassword1") 密码
        input.form-control#exampleInputPassword1(type="password",name='user[password]',placeholder='密码')
      button.btn.btn-primary(type='submit') 登录
    form.zhuce(method='POST',action='/user/singup')
      .form-group
        label(for="exampleInputAccount1") 账号
        input.form-control#exampleInputAccount1(type="text",name='user[name]',placeholder='用户名')
      .form-group
        label(for="exampleInputPassword1") 密码
        input.form-control#exampleInputPassword1(type="password",name='user[password]',placeholder='密码')
      .form-group
        label(for="exampleInputPassword2") 重复密码
        input.form-control#exampleInputPassword2(type="password",placeholder='重复密码')
      button.btn.btn-primary(type='submit') 注册